

body {
  font-family: sans-serif;
  font-size: 13px;
}

li {
 font-family: sans serif;
 display: inline;
 list-stye: none;
}
.nav {
  height: 50px;
  margin-top: 30px;
 }

.navcontainer {
  height: 45px;
  margin: 10px auto;
  display: grid;
}

#leftlist { 
  position: absolute;
  padding: 7px 0px 0px 10px;
  font-size: 13px;
}
#leftlist a{
  display: inline-block;
  align-self: center;
  font-family: arial, sans-serif;
  padding-left: 15px;
  color: black;
  text-decoration: none;
}

.rightlist-cont {
  min-wdith: 242px;
}

#rightlist {
  float: right;
  padding: 7px 0px 0px 10px;
}

#rightlist a{
  color: black;
  padding: 10px;
  text-decoration: none;
}

.main{
  height: 500px;
}

.logo {
  width: 272px;
  margin: 0 auto;
  padding-top: 90px;
}

.logo img{
  width: 272px;
  height: 92px;
}

.search {
  margin: 0px auto;
  width: 1139px;
  height: 130px;
  margin-top: 32px;
}

#text {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.18);
  width: 482px;
  height: 34px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px 0px;
}

#text input {
  width: 482px;
  height: 34px;
  font: 22px arial, sans-serif;
  margin: 0 auto;
  border: none;
  padding: 5px 0px 5px 15px; 
}