header, footer {
  min-width: 500px;
  padding: 10px;
}
main {
  display: grid;
  margin-top: 150px;
  margin-bottom: 200px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
li {
  display: inline;
  font-family: Poppins;
}
li a{
  color: black;
  text-align: center;
  padding: 15px;
}
li b{
  color: black;
  text-align: center;
  padding: 15px;
}
.logo {
  width: 300px;
  justify-self: Center;
}
.search-buttons {
  display: grid;
  justify-self: center;
  grid-template-columns: 50% 50%;
  grid-gap: 50px;
}
.box {
  background-color: lightgray;
  font-family: Poppins;
  width: 170px;
  height: 35px;
  margin-top: 60px;
  text-align: center;
  padding-top: 10px;
}
.searchbar {
  margin-top: 25px;
  background-color: white;
  box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.5);
  justify-self: center;
  width: 700px;
  height: 50px;
}
footer {
  align-content: end;
}